button {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-grid {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.label {
    font-size: 20px;
    padding: 20px;
}

.input {
    font-size: 20px;
}